.box1{
    height: 200px;
    width: 500px;
    background-color:aquamarine;
}
#box2{
    height: 200px;
    width: 500px;
    background-color:antiquewhite;

}
.button{
   !
    border-radius: 5px;
    padding: 10px;
}
.box3{
    height: 40px;
    width: 90%;
    background-color:blueviolet;
    color:white;
    border-radius: 15px;
    text-align: center;
    margin:  20px;

}
.bx1{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color: blue;
    border-style: dashed;
}
.bx2{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:brown;
    border-style:double;
}
.bx3{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:aqua;
    border-style:groove;
}
.bx4{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:black;
    border-style:dotted;
}
.bx5{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:chocolate;
    border-style:solid;
}
.bx6{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:rgb(47, 245, 255);
    border-style:outset;
    
}
.bx6{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:rgb(47, 245, 255);
    border-style:outset;
    
}
.bx7{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:rgb(47, 245, 255);
    border-style:outset;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: dotted;
    border-right-style: dotted;

}
.bx8{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:cadetblue;
    border-style:outset;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-top-style: dotted
}
.bx9{
    height: 100px;
    width: 150px;
    background-color:blanchedalmond;
    border: 5px;
    border-color:darkgreen;
    border-style:outset;
    border-left-style:solid;
    border-right-style: solid;
    border-bottom-style:double;
    border-top-style:double;
}
#outerbx{
    height: 300px;
    width: 400px;
    background-color:aquamarine;
    border: 1;
    border-bottom: black;
    border-style: dotted;
}
#inbx1{
    height: 250px;
    width: 300px;
    background-color:darkgray;
    color: white;
    border: 5px;
    border-style:solid;
    border-color:cornflowerblue;
    margin-left: 50px;
    margin-top: 10px;
}
#inbx2{
    height: 200px;
    width: 200px;
    background-color:darkcyan;
    color: white;
    margin-left: 50px;
    border: 2px;
    border-style: dashed;
    border-color: fuchsia;
}
#inbx3{
    height: 80px;
    width: 100px;
    background-color:khaki;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
    border: 5px;
    border-style:groove;
    border-color:aliceblue;

}